.card {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.4);
    transition: 0.5s all;
    position: relative;
    width: 400px;
    height: 400px;
    color: black !important;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/

    background-color: white;
}

.card__wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.card:hover {
    box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.7);
    transform: translateY(-5px);
    transition: 0.5s;
}

.card h2 {
    padding: 0.5rem 0rem;
    width: 300px;
    color: black;
}

.card h3 {
    font-size: 1rem;
    color: black;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.5s ease;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0rem;
}

.text {
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-around;
    flex-direction: column;
}

.author {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 10px;
}
.author img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.data {
    margin-left: 5rem;
}

@media (max-width: 400px) {
    .card {
        margin: 1rem;
    }

    .author {
        /* left: 26.613px; */
    }

    .data {
        margin-left: 2rem;
    }
}
