/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.card {
    border-radius: 2rem;
    overflow: hidden;
    -webkit-box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    position: relative;
    width: 400px;
    height: 400px;
    margin: unset;

    color: black !important;
    /*border: 1px solid rgba(0, 0, 0, 0.15);*/

    background-color: white;
}

.card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 15px;
}

.card:hover {
    -webkit-box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.7);
    box-shadow: 15px 20px 40px rgba(0, 0, 0, 0.7);
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.card h2 {
    padding: 0.5rem 0rem;
    width: 300px;
    color: black;
}

.card h3 {
    font-size: 1rem;
    color: black;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.card img {
    width: 100%;
    height: 15rem;
    -o-object-fit: cover;
    object-fit: cover;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0.5rem 0rem;
}

.text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 3rem;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.author {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    bottom: 10px;
}
.author img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.data {
    margin-left: 5rem;
}

@media (max-width: 400px) {
    .card {
        margin: 1rem;
    }

    .author {
        /* left: 26.613px; */
    }

    .data {
        margin-left: 2rem;
    }
}
