/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.skeleton {
    border-radius: 2rem;
    overflow: hidden;
    -webkit-box-shadow: none;
    box-shadow: none; /* Убираем тень для скелета */
    position: relative;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    width: 400px;
    height: 400px; /* Задаем высоту скелета */
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #f0f0f0; /* Цвет фона для скелета */
}

.skeleton__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px;
}

.skeleton h2,
.skeleton h3,
.skeleton .imgContainer,
.skeleton .details,
.skeleton .text,
.skeleton .author {
    background-color: #e0e0e0; /* Цвет фона для элементов внутри скелета */
}

.skeleton img {
    display: none; /* Скрываем изображение в скелете */
}

.skeleton:hover {
    opacity: 1; /* Не меняем непрозрачность при наведении на скелет */
}

@media (max-width: 400px) {
    .skeleton {
        margin: 1rem;
    }

    .skeleton .author {
        /* left: 26.613px; */
    }

    .skeleton .data {
        margin-left: 2rem;
    }
}
